parameters:
	ignoreErrors:
		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Unit/Services/KafkaTransferProcessorTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: tests/Unit/Services/TransferMessageConsumerTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Unit/Services/TransferRetryMessageConsumerTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: tests/Unit/Services/WalletTransferServiceTest.php

		-
			message: '#^Parameter \#1 \$authorizer of class App\\Services\\WalletTransferService constructor expects App\\Services\\AuthorizerClient, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 14
			path: tests/Unit/Services/WalletTransferServiceTest.php

		-
			message: '#^Parameter \#3 \$logger of class App\\Services\\WalletTransferService constructor expects Psr\\Log\\LoggerInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 14
			path: tests/Unit/Services/WalletTransferServiceTest.php
